@font-face {
	font-family: CabinetGrotesk;
	font-display: swap;
	src: url("../fonts/CabinetGrotesk-Medium.woff2") format("woff2"), url("../fonts/CabinetGrotesk-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: CabinetGrotesk;
	font-display: swap;
	src: url("../fonts/CabinetGrotesk-Regular.woff2") format("woff2"), url("../fonts/CabinetGrotesk-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: NewYork PERSONAL USE;
	font-display: swap;
	src: url("../fonts/NewYork PERSONAL USE.woff2") format("woff2"), url("../fonts/NewYork PERSONAL USE.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
