.featured {
    @include adaptiveValue("padding-top", 128, 50);
    @include adaptiveValue("margin-bottom", 128, 50);

    // .featured__container

    &__container {
    }

    // .featured__title

    &__title {
        text-align: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 96, 40);
        }
    }

    // .featured__grid

    &__grid {
    }
}
.grid-featured {
    // .grid-featured__items

    &__items {
        display: flex;
        @include adaptiveValue("column-gap", 74, 30);
        row-gap: rem(50);
        @media (max-width: $mobile) {
            flex-direction: column;
            align-items: center;
        }
    }

    // .grid-featured__item

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: rem(32);
        text-align: center;
    }

    // .grid-featured__image

    &__image {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: rem(500);
        overflow: hidden;
        @media (any-hover: hover){
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
        img {
            position: relative;
            border-radius: rem(500);
            max-width: 100%;
            transition: all 0.5s ease 0s;
            &:nth-child(1) {
                &::before {
                    content: "NEW";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: rem(100);
                    height: rem(100);
                    background-color: #000;
                    border-radius: 50%;
                    z-index: 5;
                    
                }
            }
            
        }
    }

    // .grid-featured__contant

    &__contant {
    }
}
