.rooms {
    @include adaptiveValue("padding-top", 128, 50);
    @include adaptiveValue("margin-bottom", 166, 50);

    // .rooms__container

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    // .rooms__title

    &__title {
        @include adaptiveValue("font-size", 160, 50);
        line-height: 120%;
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }

    // .rooms__button

    &__button {
        display: block;
        width: rem(120);
        @include adaptiveValue("margin-bottom", 100, 50);
    
    }

    // .rooms__items

    &__items {
        display: flex;
        @include adaptiveValue("column-gap", 64, 20);
        @media (max-width:$mobile){
             flex-direction: column; 
             align-items: center;
             justify-content: center;
             row-gap: rem(40);
        }
    }

    // .rooms__item

    &__item {
    }
}

.item-info {
    display: flex;
    position: relative;
   
    // .item-info__title
    &__row {
        border-radius: 50%;
        overflow: hidden;
        @media (any-hover: hover){
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
    &__title {
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        font-family: "NewYork PERSONAL USE";
        @include adaptiveValue("font-size", 64, 40);
        line-height: 100%;
        color: #fff;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 3;
    }

    // .item-info__image-ibg

    &__image-ibg {
        overflow: hidden;
        border-radius: 50%;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #343339;
            opacity: 0.3;
            z-index: 2;
            border-radius: 50%;
        }
        
        img {
            position: relative;
            top: 0;
            left: 0;
            width: rem(490);
            border-radius: 50%;
            object-fit: cover;
            max-width: 100%;
            transition: all 0.5s ease 0s;
            @media (max-width:$mobile){
                 width: rem(350); 
            }
        }
    }
}
